

.article {
  border: 1px solid lavenderblush;
  padding: 10px;
  

 
}

.article__button {
  padding: .2rem;
  background-color: lightgoldenrodyellow;
  border: 1px solid lightgray;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
  /* border: 1px solid red; */

}

.article__sections{
  padding: 4px 0;
  /* margin: 4px 0; */
}


