.articles {
  /* display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ; */
}

.item {
  border: 1px solid lavenderblush;
  padding: 10px;
  /* display: flex;
  flex-direction: column; */
}

.item__button {
  /* margin: 10px 0; */
  padding: .2rem;
  background-color: lightgoldenrodyellow;
  border: 1px solid lightgray;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
}

.item__sections{
  padding: 4px 0;
  margin: 4px 0;
}


